GameStartStopService/GameStartStopService/bin/Debug/VRMenu/*

GameStartStopService/bin/Debug/VRMenu/UnityPlayer.dll
GameStartStopService/bin/Debug/VRMenu/UnityCrashHandler64.exe
GameStartStopService/bin/Debug/VRMenu/MonoBleedingEdge/etc/mono/mconfig/config.xml
GameStartStopService/bin/Debug/VRMenu/MonoBleedingEdge/etc/mono/config
GameStartStopService/bin/Debug/VRMenu/MonoBleedingEdge/etc/mono/browscap.ini
GameStartStopService/bin/Debug/VRMenu/MonoBleedingEdge/etc/mono/4.5/web.config
GameStartStopService/bin/Debug/VRMenu/MonoBleedingEdge/etc/mono/4.5/settings.map
GameStartStopService/bin/Debug/VRMenu/MonoBleedingEdge/etc/mono/4.5/machine.config
GameStartStopService/bin/Debug/VRMenu/MonoBleedingEdge/etc/mono/4.5/DefaultWsdlHelpGenerator.aspx
GameStartStopService/bin/Debug/VRMenu/MonoBleedingEdge/etc/mono/4.5/Browsers/Compat.browser
GameStartStopService/bin/Debug/VRMenu/MonoBleedingEdge/etc/mono/4.0/web.config
GameStartStopService/bin/Debug/VRMenu/MonoBleedingEdge/etc/mono/4.0/settings.map
GameStartStopService/bin/Debug/VRMenu/MonoBleedingEdge/etc/mono/4.0/machine.config
GameStartStopService/bin/Debug/VRMenu/MonoBleedingEdge/etc/mono/4.0/DefaultWsdlHelpGenerator.aspx
GameStartStopService/bin/Debug/VRMenu/MonoBleedingEdge/etc/mono/4.0/Browsers/Compat.browser
GameStartStopService/bin/Debug/VRMenu/MonoBleedingEdge/etc/mono/2.0/web.config
GameStartStopService/bin/Debug/VRMenu/MonoBleedingEdge/etc/mono/2.0/settings.map
GameStartStopService/bin/Debug/VRMenu/MonoBleedingEdge/etc/mono/2.0/machine.config
GameStartStopService/bin/Debug/VRMenu/MonoBleedingEdge/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
GameStartStopService/bin/Debug/VRMenu/MonoBleedingEdge/etc/mono/2.0/Browsers/Compat.browser
GameStartStopService/bin/Debug/VRMenu/MonoBleedingEdge/EmbedRuntime/MonoPosixHelper.dll
GameStartStopService/bin/Debug/VRMenu/MonoBleedingEdge/EmbedRuntime/mono-2.0-bdwgc.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/sharedassets1.assets.resS
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/sharedassets1.assets
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/sharedassets0.assets.resS
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/sharedassets0.assets
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Resources/unity_builtin_extra
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Resources/unity default resources
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/resources.assets.resS
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/resources.assets
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Plugins/OVRPlugin.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Plugins/openvr_api.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Plugins/AudioPluginOculusSpatializer.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/Valve.Newtonsoft.Json.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.XRModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.XRModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.WindModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.WindModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.VRModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.VRModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.VideoModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.VideoModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.VFXModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.VFXModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.VehiclesModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.VehiclesModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.UnityWebRequestWWWModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.UnityWebRequestWWWModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.UnityWebRequestTextureModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.UnityWebRequestTextureModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.UnityWebRequestModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.UnityWebRequestModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.UnityWebRequestAudioModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.UnityWebRequestAudioModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.UnityWebRequestAssetBundleModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.UnityWebRequestAssetBundleModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.UnityTestProtocolModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.UnityTestProtocolModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.UnityConnectModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.UnityConnectModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.UnityAnalyticsModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.UnityAnalyticsModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.UNETModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.UNETModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.UmbraModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.UmbraModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.UIModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.UIModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.UIElementsModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.UIElementsModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.UI.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.TLSModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.TLSModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.TilemapModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.TilemapModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.TextRenderingModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.TextRenderingModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.TextCoreModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.TextCoreModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.TerrainPhysicsModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.TerrainPhysicsModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.TerrainModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.TerrainModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.SubstanceModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.SubstanceModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.StyleSheetsModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.StyleSheetsModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.StreamingModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.StreamingModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.SpriteShapeModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.SpriteShapeModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.SpriteMaskModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.SpriteMaskModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.SharedInternalsModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.SharedInternalsModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.ScreenCaptureModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.ScreenCaptureModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.Purchasing.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.ProfilerModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.ProfilerModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.PhysicsModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.PhysicsModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.Physics2DModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.Physics2DModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.PerformanceReportingModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.PerformanceReportingModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.ParticleSystemModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.ParticleSystemModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.LocalizationModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.LocalizationModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.JSONSerializeModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.JSONSerializeModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.InputModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.InputModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.IMGUIModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.IMGUIModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.ImageConversionModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.ImageConversionModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.HotReloadModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.HotReloadModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.GridModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.GridModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.GameCenterModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.GameCenterModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.FileSystemHttpModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.FileSystemHttpModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.DirectorModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.DirectorModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.CrashReportingModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.CrashReportingModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.CoreModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.CoreModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.ClusterRendererModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.ClusterRendererModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.ClusterInputModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.ClusterInputModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.ClothModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.ClothModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.AudioModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.AudioModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.AssetBundleModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.AssetBundleModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.ARModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.ARModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.AnimationModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.AnimationModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.AIModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.AIModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.AccessibilityModule.dll.mdb
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/UnityEngine.AccessibilityModule.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/Unity.Timeline.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/Unity.TextMeshPro.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/Unity.Analytics.DataPrivacy.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/System.Xml.Linq.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/System.Xml.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/System.Transactions.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/System.ServiceModel.Internals.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/System.Security.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/System.Runtime.Serialization.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/System.Numerics.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/System.EnterpriseServices.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/System.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/System.Data.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/System.Core.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/System.Configuration.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/SteamVR_Actions.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/SteamVR.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/ServicePipeLine.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/Newtonsoft.Json.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/mscorlib.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/Mono.Security.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/Mono.Posix.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/Microsoft.CSharp.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/GameStartAndStopPipeClient.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/GameInstancer.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/Assembly-CSharp.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/Managed/Assembly-CSharp-firstpass.dll
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/level1
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/level0
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/globalgamemanagers.assets
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/globalgamemanagers
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/boot.config
GameStartStopService/bin/Debug/VRMenu/GameSelector_Data/app.info
GameStartStopService/bin/Debug/VRMenu/GameSelector.exe
GameStartStopService/bin/Debug/VRMenu/bindings_vive_controller.json
GameStartStopService/bin/Debug/VRMenu/bindings_oculus_touch.json
GameStartStopService/bin/Debug/VRMenu/bindings_knuckles.json
GameStartStopService/bin/Debug/VRMenu/bindings_holographic_controller.json
GameStartStopService/bin/Debug/VRMenu/binding_vive_tracker_camera.json
GameStartStopService/bin/Debug/VRMenu/binding_vive_pro.json
GameStartStopService/bin/Debug/VRMenu/binding_vive.json
GameStartStopService/bin/Debug/VRMenu/binding_rift.json
GameStartStopService/bin/Debug/VRMenu/binding_holographic_hmd.json
GameStartStopService/bin/Debug/VRMenu/actions.json
